.gitignore
.gitmodules
.env
.claude
foundry.toml
package-lock.json
package.json
flattened_*.sol
node_modules
broadcast/

# Compiler files
cache/
out/

# Docs
docs/
src/
lib/
.github/

# Dotenv file
.env
